* {
  box-sizing: border-box;
}

body {
  user-select: none;
}

.wrapper_outer {
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

.wrapper_inner {
  transform: translate3d(50%, 0, 0);
  height: 100%;
  user-select: none;
}

.item_wrapper {
  display: inline;
  padding: 0 50px 0 0;
}

.item_wrapper:nth-child(1) {
  transform: translateX(50px);
}

.item {
  display: inline-block;
}