* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper_outer {
  position: relative;
  min-height: 300px;
  overflow: hidden;
}

.wrapper_inner {
  position: absolute;
  cursor: pointer;
  overflow-x: scroll;
  transition: all .2s ease;
  white-space: nowrap;
  width: 100%;
}

.wrapper_inner.grab {
  cursor: grabbing;
  font-size: 18px;
}

.wrapper_inner::-webkit-scrollbar {
  display: none;
}

.item_wrapper {
  border: 1px solid orange;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  height: 200px;
  width: 200px;
  user-select: none;
}

.item_wrapper:nth-child(1) {
  margin-left: 50%;
}

.item_wrapper:nth-last-child(1) {
  margin-right: 50%;
}

.item_wrapper.active {
  background-color: orange;
}

.target {
  position: absolute;
  border: 2px solid black;
  margin-left: 50%;
  height: 200px;
  width: 200px;
}